
<!-- CMD+K UNIFIED SEARCH MODAL -->
<div id="search-modal" class="search-modal">
  <div class="search-modal-content">
    <div class="search-input-wrap">
      <span class="search-icon">&#128269;</span>
      <input type="text" id="search-input" placeholder="Search artists, tools, or reports... (Esc to close)" autocomplete="off">
    </div>
    <div id="search-results" class="search-results">
      <div class="search-empty">Type to start searching...</div>
    </div>
    <div class="search-footer">
      <span><kbd>Enter</kbd> to select</span>
      <span><kbd>&uarr;</kbd><kbd>&darr;</kbd> to navigate</span>
      <span><kbd>Esc</kbd> to close</span>
    </div>
  </div>
</div>
